.areaBar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 0;
}
.link {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  transition: 0.7 all;
}
.link:hover {
  color: #ffb612;
}
ul {
  display: flex;
  margin-right: 40px;
}
